<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jijiangshe-admin</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <!-- <script src="https://gw.alipayobjects.com/os/rmsportal/nGVBgVyXzzmbAqevIAPy.js">
  </script>
  <script src=" https://gw.alipayobjects.com/os/rmsportal/TKSqiyoUxzrHoMwjViwA.js "></script>
  <script src="https://gw.alipayobjects.com/os/antv/assets/data-set/0.8.7/data-set.min.js"></script> -->
</head>

<body>
  <div id="root"></div>
</body>

<script>
  var _maq = _maq || [];
  _maq.push(['usermac', 'beth']);
  _maq.push(['apmac', '页面首次加载']);

  (function() {
    var ma = document.createElement('script');
    ma.type = 'text/javascript';
    ma.async = true;
    ma.src = '/script/statistics.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ma, s);
  })();
</script>
</html>
